@page "/"
@using System.Globalization
@inject AuthenticationStateProvider _AuthenticationStateProvider
@inject NavigationManager _NavigationManager
@inject IJSRuntime _JSRuntime
@inject IProductRepository _productRepository
@inject ICategoryRepository _categoryRepository
@inject IShoppingCartRepository _shoppingCartRepository
@inject SharedStateService _sharedStateService

<PageTitle>Home</PageTitle>

@if (_isProcessing)
{
    <div class="position-absolute w-100 vh-100 d-flex flex-column align-items-center bg-white justify-content-center">
        <img src="/images/loading.gif" alt="loading" />
    </div>
}
else
{
    <div class="container-fluid px-0 m-0 full-width">
        <div class="jumbotron-custom">
            <div class="m-auto d-flex align-items-center" style="width: 400px; height: 50vh;">

                <div class="d-flex align-items-center" style="width: 100%;">
                    <input type="text" class="form-control rounded-pill"
                           @bind:event="oninput" @bind:get="_searchText" @bind:set="FilterProductsByName"
                           placeholder="Search for Food Items!"
                           style="width: 100%; padding: 20px;">
                    <span style="position: relative; left: -43px;"><i class="bi bi-search"></i></span>
                </div>
            </div>
        </div>

        <div class="content px-4 m-2">
            <ul class="nav nav-underline justify-content-center mb-2">
                <li class="nav-item">
                    <span class="nav-link @GetActiveTabClass(0)" href="#" style="cursor: pointer"
                          @onclick="()=> FilterProducts(0)">All</span>
                </li>
                @foreach (var cat in _categories)
                {
                    <li class="nav-item">
                        <span class="nav-link @GetActiveTabClass(cat.Id)" href="#" style="cursor: pointer"
                              @onclick="()=> FilterProducts(cat.Id)">@cat.Name</span>
                    </li>
                }
            </ul>
            <div class="row mt-4 mx-1">
                @foreach (var prod in _filteredProducts)
                {
                    <div class="col-12 col-md-6 col-lg-4 pe-3 mb-5">
                        <div class="card">
                            <div class="mt-3 mb-2 row">
                                <div class="col-6 px-3">
                                    @if (!string.IsNullOrEmpty(prod.SpecialTag))
                                    {
                                        <i class="bi bi-star btn btn-outline-success disabled"> @prod.SpecialTag</i>
                                    }
                                </div>
                                <div class="col-6 text-end text-danger px-3 h3">
                                    @prod.Price.ToString("C", CultureInfo.GetCultureInfo("en-us"))
                                </div>
                            </div>
                            <div class="text-center">
                                @if (!string.IsNullOrEmpty(prod.ImageUrl))
                                {
                                    <img class="card-img-top img-thumbnail img-rounded w-50 mt-2" src="@prod.ImageUrl" style="">
                                }
                                else
                                {
                                    <img class="card-img-top img-thumbnail img-rounded w-50 mt-2" src="images/default.png" style="">
                                }
                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-center lead text-success">@prod.Name</h5>
                                <p class="card-text mt-2">@((MarkupString)prod.Description)</p>

                                <h4 class="text-center">
                                    <div class="m-lg-auto p-2" @onclick="()=>AddOrderItem(prod)">
                                        <i class="bi bi-cart3 btn btn-success text-right px-5 form-control"> Add to cart</i>
                                    </div>
                                </h4>

                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}


@code {
    private IEnumerable<Product> _products = new List<Product>();
    private IEnumerable<Product> _filteredProducts = new List<Product>();
    private IEnumerable<Category> _categories = new List<Category>();

    private bool _isProcessing { get; set; } = true;
    private int _selectedCategoryId = 0;
    private string _searchText = string.Empty;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadProducts();
            _isProcessing = false;
            StateHasChanged();
        }
    }

    private async Task LoadProducts()
    {
        _products = await _productRepository.GetAllAsync();
        _categories = await _categoryRepository.GetAllAsync();
        FilterProducts(0);
    }

    private void FilterProducts(int categoryId)
    {
        if (categoryId == 0)
        {
            _filteredProducts = _products;
            _selectedCategoryId = categoryId;
            return;
        }
        else
        {
            _filteredProducts = _products.Where(x => x.CategoryId == categoryId).ToList();
            _selectedCategoryId = categoryId;
            _searchText = string.Empty;
        }
    }

    private void FilterProductsByName(string newSearchText)
    {
        if (string.IsNullOrWhiteSpace(newSearchText))
        {
            _filteredProducts = _products;
        }
        else
        {
            _filteredProducts = _products
                .Where(p => p.Name.Contains(newSearchText, StringComparison.InvariantCultureIgnoreCase)).ToList();
        }

        _searchText = newSearchText;
    }

    private string GetActiveTabClass(int categoryId)
    {
        return categoryId == _selectedCategoryId ? "active" : string.Empty;
    }

    private async Task AddOrderItem(Product product)
    {
        var authState = await _AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        var authenticated = user.Identity is not null && user.Identity.IsAuthenticated;

        if (!authenticated)
        {
            _NavigationManager.NavigateTo("Account/Login", true);
        }
        else
        {
            var userId = user.FindFirst(u => u.Type.Contains(ClaimTypes.NameIdentifier)).Value;
            var result = await _shoppingCartRepository.UpdateCartAsync(userId, product.Id, 1);

            _sharedStateService.TotalCartCount = await _shoppingCartRepository.GetTotalCartCountAsync(userId);

            if (result)
            {
                _JSRuntime?.ToastrSuccess("Product added to cart successfully!");
            }
            else
            {
                _JSRuntime?.ToastrError("Failed to add product to cart!");
            }
        }
    }
}